/*
This code is free to use, just remember to give credit.
*/
/* 
    Created on : 2022-04-13, 11:20:40
    Author     : Grzegorz Spakowski, Tanzar
*/

/*
 light blue: #a0dfff
 blue: #0066ff
 green: #00cc33
 darker green: #009900
 white: #ffffff
 red: #ff0000

 green-border: #027033
 light green background: #9CFFC8
*/

:root {
    --border-color:  #0066ff;
    --page-background: #a0dfff;
    --menu-background: #ffffff;
}

body {
    background-color: var(--page-background);
    margin: 0px;
    min-width: fit-content;
    width: 100%;
    height: 100%;
}

header {
}


input:invalid {
    border-color: #ff0000;
}

footer {
    min-width: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 3px solid var(--border-color);
    background-color: var(--menu-background);
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 11px;
}

.login-form {
    border: 3px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    color: var(--border-color);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-input {
    border: none;
    border-bottom: 3px solid var(--border-color);
    outline: none;
    color: inherit;
    margin: 5px;
    text-align: center;
}

.top-menu {
    min-width: fit-content;
    min-height:  80px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border: 3px solid var(--border-color);
    background-color: var(--menu-background);
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-menu-left {
    display: flex;
    align-items: center;
}

.top-menu-left img {
    max-height: 80px;
}

.top-menu-right {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    
}

.side-menu {
    min-width: 110px;
    width: 110px;
    min-height: 200px;
    max-width: 110px;
    position: absolute;
    z-index: 10;
    top: 116px;
    left: 0;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    border: 3px solid var(--border-color);
    background-color: var(--menu-background);
    padding: 10px;
    padding-left: 4px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.side-menu-button {
    width: 100%;
    max-width: 110px;
    background-color: transparent;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    margin-bottom: 5px;
    white-space: break-spaces;
}

.side-menu-button:hover {
    background-color: var(--border-color);
    color: #ffffff;
}

.page-contents {
    min-width: fit-content;
    margin-top: 20px;
    margin-left: 151px;
    border: 3px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--menu-background);
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}

.page-contents-centered {
    min-width: fit-content;
    margin-top: 20px;
    margin-left: 151px;
    border: 3px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--menu-background);
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page-contents-element {
    margin: 5px;
    border: none;
    width: fit-content;
    height: fit-content;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.centered-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standard-button {
    background-color: transparent;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    height: fit-content;
}

.standard-button:hover {
    background-color: var(--border-color);
    color: #ffffff;
}

.standard-input {
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    outline: none;
}

.standard-input:invalid {
    border-color: #ff0000;
}

.standard-input:hover {
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.standard-text {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 3px;
    outline: none;
    white-space: nowrap;
}

.standard-text-title {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 3px;
    outline: none;
    font-size: 20px;
    text-align: center;
}

.standard-list {
}

.standard-list-item {
    margin-top: 5px;
}

.standard-list-item::marker {
    color: var(--border-color);
}

.standard-display {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    min-width: 90%;
    min-height: 100px;
    margin: 5px;
}

.standard-table {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    border-collapse: collapse;
    width: fit-content;
    margin: 5px;
}

.standard-table-tr {
}

.standard-table-td {
    border: 2px solid var(--border-color);
    min-width: fit-content;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
}

.page-blocker {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.page-blocker-modal {
    min-width: 20%;
    max-width: 80%;
    width: fit-content;
    background-color: #ffffff;
    margin: auto;
    border: 3px solid #0066ff;
    padding: 10px;
    border-radius: 20px;
}
